<a href="https://colab.research.google.com/github/mengwangk/dl-projects/blob/master/01_3_preprocessing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from sklearn.preprocessing import MultiLabelBinarizer, LabelBinarizer, OneHotEncoder
import numpy as np
import pandas as pd

#### MultiLabelBinarzier

In [ ]:
y = [('Texas', 'Florida'), 
    ('California', 'Alabama'), 
    ('Texas', 'Florida'), 
    ('Delware', 'Florida'), 
    ('Texas', 'Alabama')]

ml_encoder = MultiLabelBinarizer()

# One-hot encode data
print(ml_encoder.fit_transform(y))

ml_encoder.classes_

[[0 0 0 1 1]
 [1 1 0 0 0]
 [0 0 0 1 1]
 [0 0 1 1 0]
 [1 0 0 0 1]]

array(['Alabama', 'California', 'Delware', 'Florida', 'Texas'],
      dtype=object)

#### LabelBinarizer

In [ ]:
x = np.array([['Texas'], 
              ['California'], 
              ['Texas'], 
              ['Delaware'], 
              ['Texas']])
lb_encoder = LabelBinarizer()

# One-hot encode data
lb_encoder.fit_transform(x)

array([[0, 0, 1],
       [1, 0, 0],
       [0, 0, 1],
       [0, 1, 0],
       [0, 0, 1]])

In [ ]:
lb_encoder.classes_

array(['California', 'Delaware', 'Texas'], dtype='<U10')

#### Panda Categorizer

In [ ]:
x[:, 0]

array(['Texas', 'California', 'Texas', 'Delaware', 'Texas'], dtype='<U10')

In [ ]:
pd.get_dummies(x[:,0])

   California  Delaware  Texas
0           0         0      1
1           1         0      0
2           0         0      1
3           0         1      0
4           0         0      1

#### OneHotEncoder

In [ ]:
onehot_encoder = OneHotEncoder()
onehot_encoder.fit_transform(x)

<5x3 sparse matrix of type '<class 'numpy.float64'>'
	with 5 stored elements in Compressed Sparse Row format>

In [ ]:
onehot_encoder.get_feature_names()

array(['x0_California', 'x0_Delaware', 'x0_Texas'], dtype=object)

In [ ]:
onehot_encoder.categories_

[array(['California', 'Delaware', 'Texas'], dtype='<U10')]

In [ ]:
onehot_encoder.transform(x).toarray()

array([[0., 0., 1.],
       [1., 0., 0.],
       [0., 0., 1.],
       [0., 1., 0.],
       [0., 0., 1.]])

In [ ]:
onehot_encoder.fit_transform(y)

<5x5 sparse matrix of type '<class 'numpy.float64'>'
	with 10 stored elements in Compressed Sparse Row format>

In [ ]:
onehot_encoder.transform(y).toarray()

array([[0., 0., 1., 0., 1.],
       [1., 0., 0., 1., 0.],
       [0., 0., 1., 0., 1.],
       [0., 1., 0., 0., 1.],
       [0., 0., 1., 1., 0.]])

In [ ]:
onehot_encoder.get_feature_names()

array(['x0_California', 'x0_Delware', 'x0_Texas', 'x1_Alabama',
       'x1_Florida'], dtype=object)

### Label Encoder

In [ ]:
x = np.array([['Texas'], 
              ['California'], 
              ['Texas'], 
              ['Delaware'], 
              ['Texas']])

In [ ]:
dataset = pd.DataFrame({'City': x[:, 0]})

In [ ]:
dataset.head(10)

         City
0       Texas
1  California
2       Texas
3    Delaware
4       Texas

In [ ]:
from sklearn.preprocessing import LabelEncoder

label_encoder = LabelEncoder()
label_encoder.fit_transform(x)

array([2, 0, 2, 1, 2])

In [ ]:
label_encoder.classes_

array(['California', 'Delaware', 'Texas'], dtype='<U10')

### OrdinalEncoder

In [ ]:
map_dict = {'low':0,'medium':1,'high':2}
def map_values(x):
    return map_dict[x]

### DictVectorizer

Transform lists of feature-value mappings to vectors

In [ ]:
from sklearn.feature_extraction import DictVectorizer

encoder = DictVectorizer(sparse=False)
dict = [{'foo': 1, 'bar': 2}, {'foo': 3, 'baz': 1}]
encoder.fit_transform(dict)

array([[2., 0., 1.],
       [0., 1., 3.]])

In [ ]:
encoder.feature_names_

['bar', 'baz', 'foo']

In [ ]:
encoder.vocabulary_

{'foo': 2, 'bar': 0, 'baz': 1}

### Scipy Category Encoder

- [article](https://towardsdatascience.com/smarter-ways-to-encode-categorical-data-for-machine-learning-part-1-of-3-6dca2f71b159)
- [scipy category encoder package](http://contrib.scikit-learn.org/categorical-encoding/index.html)

In [ ]:
x = [
        ["Not Happy"], 
        ["Moderately Happy"],
        ["Happy"],
        ["Very Happy"],
]

In [ ]:
import category_encoders as ce

In [ ]:
binary_encoder = ce.BinaryEncoder()

In [ ]:
binary_encoder.fit_transform(x)

   0_0  0_1  0_2
0    0    0    1
1    0    1    0
2    0    1    1
3    1    0    0

In [ ]:
# make some data
df = pd.DataFrame({
 'color':["a", "b", "a", "c"], 
 'outcome':[1, 2, 3, 2]})

# split into X and y
X = df.drop('outcome', axis = 1)
y = df.drop('color', axis = 1)

In [ ]:
ce_binary = ce.BinaryEncoder(cols = ['color'])
ce_binary.fit_transform(X, y)

   color_0  color_1  color_2
0        0        0        1
1        0        1        0
2        0        0        1
3        0        1        1

In [ ]:
ce_ordinal = ce.OrdinalEncoder(cols = ['color'])
ce_ordinal.fit_transform(X,y)

   color
0      1
1      2
2      1
3      3

In [ ]:
ce_ordinal = ce.OneHotEncoder(cols = ['color'])
ce_ordinal.fit_transform(X,y)

   color_1  color_2  color_3
0        1        0        0
1        0        1        0
2        1        0        0
3        0        0        1

In [ ]:
ce_ordinal = ce.HashingEncoder(cols = ['color'])
ce_ordinal.fit_transform(X,y)

   col_0  col_1  col_2  col_3  col_4  col_5  col_6  col_7
0      0      1      0      0      0      0      0      0
1      0      0      0      0      0      0      0      1
2      0      1      0      0      0      0      0      0
3      0      0      0      1      0      0      0      0

In [ ]:
ce_ordinal = ce.TargetEncoder(cols = ['color'])
ce_ordinal.fit_transform(X,y)

   color
0    2.0
1    2.0
2    2.0
3    2.0

In [ ]:
pd.get_dummies?

In [ ]:
# taken from https://medium.com/@pouryaayria/k-fold-target-encoding-dfe9a594874b
from sklearn import base
from sklearn.model_selection import KFold

class KFoldTargetEncoderTrain(base.BaseEstimator,
                               base.TransformerMixin):
    def __init__(self,colnames,targetName,
                  n_fold=5, verbosity=True,
                  discardOriginal_col=False):
        self.colnames = colnames
        self.targetName = targetName
        self.n_fold = n_fold
        self.verbosity = verbosity
        self.discardOriginal_col = discardOriginal_col
    def fit(self, X, y=None):
        return self
    def transform(self,X):
        assert(type(self.targetName) == str)
        assert(type(self.colnames) == str)
        assert(self.colnames in X.columns)
        assert(self.targetName in X.columns)
        mean_of_target = X[self.targetName].mean()
        kf = KFold(n_splits = self.n_fold,
                   shuffle = True, random_state=2019)
        col_mean_name = self.colnames + '_' + 'Kfold_Target_Enc'
        X[col_mean_name] = np.nan
        for tr_ind, val_ind in kf.split(X):
            X_tr, X_val = X.iloc[tr_ind], X.iloc[val_ind]
            X.loc[X.index[val_ind], col_mean_name] = X_val[self.colnames].map(X_tr.groupby(self.colnames)
                                     [self.targetName].mean())
            X[col_mean_name].fillna(mean_of_target, inplace = True)
        if self.verbosity:
            encoded_feature = X[col_mean_name].values
            print('Correlation between the new feature, {} and, {} is {}.'.format(col_mean_name,self.targetName,                    
                   np.corrcoef(X[self.targetName].values,
                               encoded_feature)[0][1]))
        if self.discardOriginal_col:
            X = X.drop(self.targetName, axis=1)
        return X

### Haversine distance between the 2 lat/longs

In [ ]:
def haversine_array(lat1, lng1, lat2, lng2): 
    lat1, lng1, lat2, lng2 = map(np.radians, (lat1, lng1, lat2, lng2)) 
    AVG_EARTH_RADIUS = 6371 # in km 
    lat = lat2 - lat1 
    lng = lng2 - lng1 
    d = np.sin(lat * 0.5) ** 2 + np.cos(lat1) * np.cos(lat2) *      np.sin(lng * 0.5) ** 2 
    h = 2 * AVG_EARTH_RADIUS * np.arcsin(np.sqrt(d)) 
    return h

In [ ]:
np.clip?

In [ ]:
#df.to_csv(‘file.csv.gz’, index=False, compression=’gzip’)

### Manhanttan distance between the 2 lat/lons

In [ ]:
def dummy_manhattan_distance(lat1, lng1, lat2, lng2): 
    a = haversine_array(lat1, lng1, lat1, lng2) 
    b = haversine_array(lat1, lng1, lat2, lng1) 
    return a + b

### Bearing between 2 lat/lons

In [ ]:
def bearing_array(lat1, lng1, lat2, lng2): 
    AVG_EARTH_RADIUS = 6371 # in km 
    lng_delta_rad = np.radians(lng2 - lng1) 
    lat1, lng1, lat2, lng2 = map(np.radians, (lat1, lng1, lat2, lng2)) 
    y = np.sin(lng_delta_rad) * np.cos(lat2) 
    x = np.cos(lat1) * np.sin(lat2) - np.sin(lat1) * np.cos(lat2) * np.cos(lng_delta_rad) 
    return np.degrees(np.arctan2(y, x))

### Center latitude and longitude between pickup and dropoff

### Log base feature/target

In [45]:
np.log(1+x))

SyntaxError: ignored