<a href="https://colab.research.google.com/github/mengwangk/dl-projects/blob/master/01_07_python_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import numpy as np
import pandas as pd

Swapping Values

In [2]:
x, y = 1, 2
print(x, y)
x, y = y, x
print(x, y)

1 2
2 1

## Combining list of strings

In [3]:
sentence_list = ["my", "name", "is", "George"]
sentence_string = " ".join(sentence_list)
print(sentence_string)

my name is George

## Splitting a string into a list of substrings

In [4]:
sentence_string = "my name is George"
sentence_string.split()
print(sentence_string)

my name is George

## Initialising a list filled with some number

In [7]:
[8.2]*10 # List of 1000 8.2's

[8.2, 8.2, 8.2, 8.2, 8.2, 8.2, 8.2, 8.2, 8.2, 8.2]

## Merging dictionaries

In [9]:
x = {'a': 1, 'b': 2}
y = {'b': 3, 'c': 4}
z = {**x, **y}
print(z)

{'a': 1, 'b': 3, 'c': 4}

## Reverse a string

In [10]:
name = "George"
name[::-1]

'egroeG'

## Return multiple values

In [0]:
def get_a_string():
    a = "George"
    b = "is"
    c = "cool"
    return a, b, c
sentence = get_a_string()
(a, b, c) = sentence

## List comprehension

In [0]:
a = [1, 2, 3]
b = [num*2 for num in a] # Create a new list by multiplying each element in a by 2

## Iterating over a dictionary

In [13]:
m = {'a': 1, 'b': 2, 'c': 3, 'd': 4} 
for key, value in m.items():
    print('{0}: {1}'.format(key, value))

a: 1
b: 2
c: 3
d: 4

## Iterating over list values while getting the index too

In [14]:
m = ['a', 'b', 'c', 'd']
for index, value in enumerate(m):
    print('{0}: {1}'.format(index, value))

0: a
1: b
2: c
3: d

## Initialising empty containers

In [0]:
a_list = list()
a_dict = dict()
a_set = set()

## Remove useless characters

In [17]:
name = "  George "
name_2 = "George///"
name.strip() # prints "George"
name_2.strip("/") # prints "George"

'George'

## Find the most frequent element in a list

In [19]:
test = [1, 2, 3, 4, 2, 2, 3, 1, 4, 4, 4, 4]
print(max(set(test), key = test.count))

4

## Check the memory usage of an object

In [20]:
import sys
x = 1
print(sys.getsizeof(x))

28

## Convert dict to XML

In [0]:
from xml.etree.ElementTree import Element
def dict_to_xml(tag, d):
    '''
    Turn a simple dict of key/value pairs into XML
    '''
    elem = Element(tag)
    for key, val in d.items():
        child = Element(key)
        child.text = str(val)
        elem.append(child)
    return elem