<a href="https://colab.research.google.com/github/mengwangk/dl-projects/blob/master/01_07_python_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import numpy as np
import pandas as pd

NameTuple vs DataClass

In [12]:
# https://pymotw.com/2/collections/namedtuple.html
# https://docs.python.org/3/library/collections.html
# https://medium.com/@jacktator/dataclass-vs-namedtuple-vs-object-for-performance-optimization-in-python-691e234253b9

from collections import namedtuple
from dataclasses import dataclass

Person = namedtuple('Person', 'name age gender')

print(f"Type of person {type(Person)}")

john = Person(name='John', age=30, gender='male')
print(f'\nRepresentation: {john}')

Type of person <class 'type'>

Representation: Person(name='John', age=30, gender='male')

In [13]:
Point = namedtuple('Point', ['x', 'y'])
p = Point(11, y=22)
p[0] + p[1]

33

In [14]:
x, y = p 
x,y

(11, 22)

In [15]:
p.x + p.y

33

In [0]:
EmployeeRecord = namedtuple('EmployeeRecord', 'name, age, title, department, paygrade')

import csv
for emp in map(EmployeeRecord._make, csv.reader(open("employees.csv", "rb"))):
    print(emp.name, emp.title)

import sqlite3
conn = sqlite3.connect('/companydata')
cursor = conn.cursor()
cursor.execute('SELECT name, age, title, department, paygrade FROM employees')
for emp in map(EmployeeRecord._make, cursor.fetchall()):
    print(emp.name, emp.title)

In [17]:
from typing import NamedTuple
from datetime import date

class Prices(NamedTuple("Prices", 
                         [('open', float), 
                          ('high', float), 
                          ('low', float), 
                          ('close', float)])):
    pass


class TradeDay(NamedTuple("TradeDay", 
                          (("symbol", str), 
                           ("date", date), 
                           ("prices", Prices)))):
    @property
    def change(self):
        return round(
            (self.prices.close - self.prices.open) / self.prices.open, 
            4)
        
import datetime

day: TradeDay = TradeDay("MA", datetime.date.today(), Prices(10.0, 30.0, 5.0, 20.0))

day

TradeDay(symbol='MA', date=datetime.date(2020, 2, 10), prices=Prices(open=10.0, high=30.0, low=5.0, close=20.0))

In [19]:
from dataclasses import dataclass
from datetime import date

@dataclass
class Prices: 
    """
    DataClass for storing prices
    """
    open: float
    high: float
    low: float
    close: float

@dataclass
class TradeDay:
    """
    DataClass for storing a TradeDay
    """
    symbol: str
    date: date
    prices: Prices
    change = lambda self : round(
            (self.prices.close - self.prices.open) / self.prices.open, 
            4)
    


day: TradeDay = TradeDay("MA", datetime.date.today(), Prices(10.0, 30.0, 5.0, 20.0))

day

TradeDay(symbol='MA', date=datetime.date(2020, 2, 10), prices=Prices(open=10.0, high=30.0, low=5.0, close=20.0))