<a href="https://colab.research.google.com/github/mengwangk/dl-projects/blob/master/02_2_feature_engineer.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Feature Engineering

## Featuretools

In [0]:
import featuretools as ft
import pandas as pd
import numpy as np
from featuretools.entityset import EntitySet, Entity

In [17]:
 data = ft.demo.load_mock_customer()
 type(data), data.keys

(dict, <function dict.keys>)

In [18]:
customers_df = data["customers"]
type(customers_df), customers_df

(pandas.core.frame.DataFrame,
    customer_id zip_code           join_date date_of_birth
 0            1    60091 2011-04-17 10:48:33    1994-07-18
 1            2    13244 2012-04-15 23:31:04    1986-08-18
 2            3    13244 2011-08-13 15:42:34    2003-11-21
 3            4    60091 2011-04-08 20:08:14    2006-08-15
 4            5    60091 2010-07-17 05:27:50    1984-07-28)

In [20]:
sessions_df = data["sessions"]
sessions_df.sample(5)

    session_id  customer_id   device       session_start
13          14            1   tablet 2014-01-01 03:28:00
6            7            3   tablet 2014-01-01 01:39:40
1            2            5   mobile 2014-01-01 00:17:20
28          29            1   mobile 2014-01-01 07:10:05
24          25            3  desktop 2014-01-01 05:59:40

In [21]:
transactions_df = data["transactions"]
transactions_df.sample(5)

     transaction_id  session_id    transaction_time product_id  amount
74              232           5 2014-01-01 01:20:10          1  139.20
231              27          17 2014-01-01 04:10:15          2   90.79
434              36          31 2014-01-01 07:50:10          3   62.35
420              56          30 2014-01-01 07:35:00          3   72.70
54              444           4 2014-01-01 00:58:30          4   43.59

In [0]:
entities = {
    "customers" : (customers_df, "customer_id"),
     "sessions" : (sessions_df, "session_id", "session_start"),
     "transactions" : (transactions_df, "transaction_id", "transaction_time")
}

In [0]:
relationships = [("sessions", "session_id", "transactions", "session_id"),
                  ("customers", "customer_id", "sessions", "customer_id")]

In [0]:
feature_matrix_customers, features_defs = ft.dfs(entities=entities,
                                          relationships=relationships,
                                          target_entity="customers")

In [27]:
feature_matrix_customers

            zip_code  ...  MODE(sessions.WEEKDAY(session_start))
customer_id           ...
1              60091  ...                                      2
2              13244  ...                                      2
3              13244  ...                                      2
4              60091  ...                                      2
5              60091  ...                                      2

[5 rows x 73 columns]

In [29]:
features_defs

[<Feature: zip_code>,
 <Feature: COUNT(sessions)>,
 <Feature: NUM_UNIQUE(sessions.device)>,
 <Feature: MODE(sessions.device)>,
 <Feature: SUM(transactions.amount)>,
 <Feature: STD(transactions.amount)>,
 <Feature: MAX(transactions.amount)>,
 <Feature: SKEW(transactions.amount)>,
 <Feature: MIN(transactions.amount)>,
 <Feature: MEAN(transactions.amount)>,
 <Feature: COUNT(transactions)>,
 <Feature: NUM_UNIQUE(transactions.product_id)>,
 <Feature: MODE(transactions.product_id)>,
 <Feature: DAY(join_date)>,
 <Feature: DAY(date_of_birth)>,
 <Feature: YEAR(join_date)>,
 <Feature: YEAR(date_of_birth)>,
 <Feature: MONTH(join_date)>,
 <Feature: MONTH(date_of_birth)>,
 <Feature: WEEKDAY(join_date)>,
 <Feature: WEEKDAY(date_of_birth)>,
 <Feature: SUM(sessions.STD(transactions.amount))>,
 <Feature: SUM(sessions.MAX(transactions.amount))>,
 <Feature: SUM(sessions.SKEW(transactions.amount))>,
 <Feature: SUM(sessions.MIN(transactions.amount))>,
 <Feature: SUM(sessions.MEAN(transactions.amount))>,
 <Feature: SUM(sessions.NUM_UNIQUE(transactions.product_id))>,
 <Feature: STD(sessions.SUM(transactions.amount))>,
 <Feature: STD(sessions.MAX(transactions.amount))>,
 <Feature: STD(sessions.SKEW(transactions.amount))>,
 <Feature: STD(sessions.MIN(transactions.amount))>,
 <Feature: STD(sessions.MEAN(transactions.amount))>,
 <Feature: STD(sessions.COUNT(transactions))>,
 <Feature: STD(sessions.NUM_UNIQUE(transactions.product_id))>,
 <Feature: MAX(sessions.SUM(transactions.amount))>,
 <Feature: MAX(sessions.STD(transactions.amount))>,
 <Feature: MAX(sessions.SKEW(transactions.amount))>,
 <Feature: MAX(sessions.MIN(transactions.amount))>,
 <Feature: MAX(sessions.MEAN(transactions.amount))>,
 <Feature: MAX(sessions.COUNT(transactions))>,
 <Feature: MAX(sessions.NUM_UNIQUE(transactions.product_id))>,
 <Feature: SKEW(sessions.SUM(transactions.amount))>,
 <Feature: SKEW(sessions.STD(transactions.amount))>,
 <Feature: SKEW(sessions.MAX(transactions.amount))>,
 <Feature: SKEW(sessions.MIN(transactions.amount))>,
 <Feature: SKEW(sessions.MEAN(transactions.amount))>,
 <Feature: SKEW(sessions.COUNT(transactions))>,
 <Feature: SKEW(sessions.NUM_UNIQUE(transactions.product_id))>,
 <Feature: MIN(sessions.SUM(transactions.amount))>,
 <Feature: MIN(sessions.STD(transactions.amount))>,
 <Feature: MIN(sessions.MAX(transactions.amount))>,
 <Feature: MIN(sessions.SKEW(transactions.amount))>,
 <Feature: MIN(sessions.MEAN(transactions.amount))>,
 <Feature: MIN(sessions.COUNT(transactions))>,
 <Feature: MIN(sessions.NUM_UNIQUE(transactions.product_id))>,
 <Feature: MEAN(sessions.SUM(transactions.amount))>,
 <Feature: MEAN(sessions.STD(transactions.amount))>,
 <Feature: MEAN(sessions.MAX(transactions.amount))>,
 <Feature: MEAN(sessions.SKEW(transactions.amount))>,
 <Feature: MEAN(sessions.MIN(transactions.amount))>,
 <Feature: MEAN(sessions.MEAN(transactions.amount))>,
 <Feature: MEAN(sessions.COUNT(transactions))>,
 <Feature: MEAN(sessions.NUM_UNIQUE(transactions.product_id))>,
 <Feature: NUM_UNIQUE(sessions.MODE(transactions.product_id))>,
 <Feature: NUM_UNIQUE(sessions.DAY(session_start))>,
 <Feature: NUM_UNIQUE(sessions.YEAR(session_start))>,
 <Feature: NUM_UNIQUE(sessions.MONTH(session_start))>,
 <Feature: NUM_UNIQUE(sessions.WEEKDAY(session_start))>,
 <Feature: MODE(sessions.MODE(transactions.product_id))>,
 <Feature: MODE(sessions.DAY(session_start))>,
 <Feature: MODE(sessions.YEAR(session_start))>,
 <Feature: MODE(sessions.MONTH(session_start))>,
 <Feature: MODE(sessions.WEEKDAY(session_start))>]

In [0]:
feature_matrix_sessions, features_defs = ft.dfs(entities=entities,
                                                  relationships=relationships,
                                                  target_entity="sessions")

In [31]:
feature_matrix_sessions

            customer_id  ... customers.WEEKDAY(date_of_birth)
session_id               ...
1                     2  ...                                0
2                     5  ...                                5
3                     4  ...                                1
4                     1  ...                                0
5                     4  ...                                1
6                     1  ...                                0
7                     3  ...                                4
8                     4  ...                                1
9                     1  ...                                0
10                    2  ...                                0
11                    4  ...                                1
12                    4  ...                                1
13                    4  ...                                1
14                    1  ...                                0
15                    2  ...                                0
16                    2  ...                                0
17                    2  ...                                0
18                    1  ...                                0
19                    3  ...                                4
20                    5  ...                                5
21                    4  ...                                1
22                    4  ...                                1
23                    3  ...                                4
24                    5  ...                                5
25                    3  ...                                4
26                    1  ...                                0
27                    1  ...                                0
28                    5  ...                                5
29                    1  ...                                0
30                    5  ...                                5
31                    2  ...                                0
32                    5  ...                                5
33                    2  ...                                0
34                    3  ...                                4
35                    3  ...                                4

[35 rows x 44 columns]

### EntitySets

In [0]:
merged_df =  data["transactions"].merge(data["sessions"]).merge(data["customers"])

In [33]:
merged_df.sample(5)

     transaction_id  session_id  ...           join_date date_of_birth
372             479          26  ... 2011-04-17 10:48:33    1994-07-18
467             114          34  ... 2011-08-13 15:42:34    2003-11-21
241              81          13  ... 2011-04-08 20:08:14    2006-08-15
268              87          21  ... 2011-04-08 20:08:14    2006-08-15
139             107          28  ... 2010-07-17 05:27:50    1984-07-28

[5 rows x 11 columns]

In [34]:
merged_df.columns

Index(['transaction_id', 'session_id', 'transaction_time', 'product_id',
       'amount', 'customer_id', 'device', 'session_start', 'zip_code',
       'join_date', 'date_of_birth'],
      dtype='object')

In [35]:
data["customers"].columns

Index(['customer_id', 'zip_code', 'join_date', 'date_of_birth'], dtype='object')

In [0]:
products_df = data["products"]

In [37]:
products_df

  product_id brand
0          1     B
1          2     B
2          3     B
3          4     B
4          5     A

#### Create EntitySet

In [0]:
es = ft.EntitySet(id="customer_data")

In [0]:
es = es.entity_from_dataframe(entity_id="transactions",
                                  dataframe=merged_df,
                                  index="transaction_id",
                                  time_index="transaction_time",
                                  variable_types={"product_id": ft.variable_types.Categorical,
                                                  "zip_code": ft.variable_types.Ordinal})

In [44]:
es

Entityset: customer_data
  Entities:
    transactions [Rows: 500, Columns: 11]
  Relationships:
    No relationships

In [53]:
es["transactions"].variables

[<Variable: transaction_id (dtype = index)>,
 <Variable: session_id (dtype = numeric)>,
 <Variable: transaction_time (dtype: datetime_time_index, format: None)>,
 <Variable: amount (dtype = numeric)>,
 <Variable: customer_id (dtype = numeric)>,
 <Variable: device (dtype = categorical)>,
 <Variable: session_start (dtype: datetime, format: None)>,
 <Variable: join_date (dtype: datetime, format: None)>,
 <Variable: date_of_birth (dtype: datetime, format: None)>,
 <Variable: product_id (dtype = categorical)>,
 <Variable: zip_code (dtype = ordinal)>]

In [54]:
 es = es.entity_from_dataframe(entity_id="products",
                                dataframe=products_df,
                                  index="product_id")
 es

Entityset: customer_data
  Entities:
    transactions [Rows: 500, Columns: 11]
    products [Rows: 5, Columns: 2]
  Relationships:
    No relationships

In [0]:
 new_relationship = ft.Relationship(es["products"]["product_id"],
                                      es["transactions"]["product_id"])

In [56]:
es.add_relationship(new_relationship)

Entityset: customer_data
  Entities:
    transactions [Rows: 500, Columns: 11]
    products [Rows: 5, Columns: 2]
  Relationships:
    transactions.product_id -> products.product_id

In [0]:
# Create new entity from existing table
es = es.normalize_entity(base_entity_id="transactions",
                         new_entity_id="sessions",
                          index="session_id",
                          make_time_index="session_start",
                          additional_variables=["device", "customer_id", "zip_code", "session_start", "join_date"])

In [59]:
es

Entityset: customer_data
  Entities:
    transactions [Rows: 500, Columns: 6]
    products [Rows: 5, Columns: 2]
    sessions [Rows: 35, Columns: 6]
  Relationships:
    transactions.product_id -> products.product_id
    transactions.session_id -> sessions.session_id

In [60]:
es["transactions"].variables

[<Variable: transaction_id (dtype = index)>,
 <Variable: session_id (dtype = id)>,
 <Variable: transaction_time (dtype: datetime_time_index, format: None)>,
 <Variable: amount (dtype = numeric)>,
 <Variable: date_of_birth (dtype: datetime, format: None)>,
 <Variable: product_id (dtype = categorical)>]

In [61]:
es["sessions"].variables

[<Variable: session_id (dtype = index)>,
 <Variable: device (dtype = categorical)>,
 <Variable: customer_id (dtype = numeric)>,
 <Variable: zip_code (dtype = ordinal)>,
 <Variable: session_start (dtype: datetime_time_index, format: None)>,
 <Variable: join_date (dtype: datetime, format: None)>]

In [62]:
es["sessions"].df.head(5)

   session_id   device  ...       session_start           join_date
1           1  desktop  ... 2014-01-01 00:00:00 2012-04-15 23:31:04
2           2   mobile  ... 2014-01-01 00:17:20 2010-07-17 05:27:50
3           3   mobile  ... 2014-01-01 00:28:10 2011-04-08 20:08:14
4           4   mobile  ... 2014-01-01 00:44:25 2011-04-17 10:48:33
5           5   mobile  ... 2014-01-01 01:11:30 2011-04-08 20:08:14

[5 rows x 6 columns]

In [63]:
es["transactions"].df.head(5)

     transaction_id  session_id  ... date_of_birth  product_id
298             298           1  ...    1986-08-18           5
2                 2           1  ...    1986-08-18           2
308             308           1  ...    1986-08-18           3
116             116           1  ...    1986-08-18           4
371             371           1  ...    1986-08-18           3

[5 rows x 6 columns]

In [0]:
es = es.normalize_entity(base_entity_id="sessions",
                             new_entity_id="customers",
                             index="customer_id",
                             make_time_index="join_date",
                             additional_variables=["zip_code", "join_date"])

In [71]:
es

Entityset: customer_data
  Entities:
    transactions [Rows: 500, Columns: 6]
    products [Rows: 5, Columns: 2]
    sessions [Rows: 35, Columns: 4]
    customers [Rows: 5, Columns: 3]
  Relationships:
    transactions.product_id -> products.product_id
    transactions.session_id -> sessions.session_id
    sessions.customer_id -> customers.customer_id

In [0]:
feature_matrix, feature_defs = ft.dfs(entityset=es,
                                      target_entity="products")

In [74]:
feature_matrix

           brand  ...  MODE(transactions.sessions.customer_id)
product_id        ...
1              B  ...                                        1
2              B  ...                                        4
3              B  ...                                        4
4              B  ...                                        1
5              A  ...                                        1

[5 rows x 30 columns]