# Feature Engineering

In [146]:
from pathlib import Path
import pandas as pd
import numpy as np

import warnings
warnings.filterwarnings(action="ignore", message="^internal gelsd")

DATASET = Path("datasets/lotto/data_processed.csv")

# The Answer to the Ultimate Question of Life, the Universe, and Everything.
np.random.seed(42)

In [2]:
# Read into data frame
dataset = pd.read_csv(DATASET, header=0, sep=',', quotechar='"', parse_dates=['DrawDate'], dtype={'PrizeType': str})

In [3]:
df = dataset.copy()

In [84]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 104673 entries, 0 to 104672
Columns: 115 entries, DrawNo to pos_4_9_freq
dtypes: datetime64[ns](1), float64(2), int64(111), object(1)
memory usage: 91.8+ MB

In [98]:
df.head(1)

,DrawNo,DrawDate,PrizeType,LuckyNo,DaysSinceLastExactMatch,DaysUntilNextExactMatch,DaysSinceLastAnyMatch,DaysUntilNextAnyMatch,1st_digit,2nd_digit,...,pos_4_0_freq,pos_4_1_freq,pos_4_2_freq,pos_4_3_freq,pos_4_4_freq,pos_4_5_freq,pos_4_6_freq,pos_4_7_freq,pos_4_8_freq,pos_4_9_freq
0,40792,1992-05-06,1stPrizeNo,19,0,28,0,28,0,0,...,5,8,2,2,5,5,5,6,2,6

In [6]:
# Python ≥3.5 is required
import sys
assert sys.version_info >= (3, 5)

In [ ]:
# Scikit-Learn ≥0.20 is required
import sklearn
assert sklearn.__version__ >= "0.20"

In [93]:
# pytorch
import torch
from torchvision import transforms

In [103]:
# fastai
from fastai import *
from fastai.vision import *

In [ ]:
np.c_?

In [178]:
for ind, column in enumerate(df.columns):
    print("[{}]".format(column), end=' ')
    if ind % 5 == 0:
        print()

[DrawNo]
[DrawDate] [PrizeType] [LuckyNo] [DaysSinceLastExactMatch] [DaysUntilNextExactMatch]
[DaysSinceLastAnyMatch] [DaysUntilNextAnyMatch] [1st_digit] [2nd_digit] [3rd_digit]
[4th_digit] [DrawYear] [DrawMonth] [DrawWeek] [DrawDay]
[DrawDayofweek] [DrawDayofyear] [CumProbaExactMatch] [CumProbaAnyMatch] [0_1]
[0_2] [0_3] [0_4] [0_5] [0_6]
[0_7] [0_8] [0_9] [1_2] [1_3]
[1_4] [1_5] [1_6] [1_7] [1_8]
[1_9] [2_3] [2_4] [2_5] [2_6]
[2_7] [2_8] [2_9] [3_4] [3_5]
[3_6] [3_7] [3_8] [3_9] [4_5]
[4_6] [4_7] [4_8] [4_9] [5_6]
[5_7] [5_8] [5_9] [6_7] [6_8]
[6_9] [7_8] [7_9] [8_9] [0_0]
[1_1] [2_2] [3_3] [4_4] [5_5]
[6_6] [7_7] [8_8] [9_9] [pos_1_0_freq]
[pos_1_1_freq] [pos_1_2_freq] [pos_1_3_freq] [pos_1_4_freq] [pos_1_5_freq]
[pos_1_6_freq] [pos_1_7_freq] [pos_1_8_freq] [pos_1_9_freq] [pos_2_0_freq]
[pos_2_1_freq] [pos_2_2_freq] [pos_2_3_freq] [pos_2_4_freq] [pos_2_5_freq]
[pos_2_6_freq] [pos_2_7_freq] [pos_2_8_freq] [pos_2_9_freq] [pos_3_0_freq]
[pos_3_1_freq] [pos_3_2_freq] [pos_3_3_freq] [pos_3_4_freq] [pos_3_5_freq]
[pos_3_6_freq] [pos_3_7_freq] [pos_3_8_freq] [pos_3_9_freq] [pos_4_0_freq]
[pos_4_1_freq] [pos_4_2_freq] [pos_4_3_freq] [pos_4_4_freq] [pos_4_5_freq]
[pos_4_6_freq] [pos_4_7_freq] [pos_4_8_freq] [pos_4_9_freq]

In [177]:
df = dataset.copy()
numeric_features = ["DaysSinceLastExactMatch", "DaysUntilNextExactMatch", 
                    "DaysSinceLastAnyMatch", "DaysUntilNextAnyMatch"
                   ]
categorical_features = ["PrizeType"]
datetime_features = ["DrawDate"]
target_feature = ["LuckyNo"]

In [164]:
df = df[target_feature + datetime_features + categorical_features + numeric_features]

In [165]:
df.head(10)

,LuckyNo,DrawDate,PrizeType,DaysSinceLastExactMatch,DaysUntilNextExactMatch,DaysSinceLastAnyMatch,DaysUntilNextAnyMatch
0,19,1992-05-06,1stPrizeNo,0,28,0,28
1,1124,1992-05-06,2ndPrizeNo,0,2436,0,162
2,592,1992-05-06,3rdPrizeNo,0,25,0,11
3,5311,1992-05-06,ConsolationNo1,0,515,0,204
4,407,1992-05-06,ConsolationNo10,0,2114,0,22
5,1949,1992-05-06,ConsolationNo2,0,95,0,95
6,1606,1992-05-06,ConsolationNo3,0,351,0,35
7,3775,1992-05-06,ConsolationNo4,0,494,0,126
8,6226,1992-05-06,ConsolationNo5,0,494,0,232
9,1271,1992-05-06,ConsolationNo6,0,410,0,119

In [166]:
df.describe()

,LuckyNo,DaysSinceLastExactMatch,DaysUntilNextExactMatch,DaysSinceLastAnyMatch,DaysUntilNextAnyMatch
count,104673.000000,104673.000000,104673.000000,104673.000000,104673.000000
mean,4974.001777,764.409447,764.409447,66.179053,66.179053
std,2885.324727,832.538166,832.538166,93.325465,93.325465
min,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2463.000000,157.000000,157.000000,15.000000,15.000000
50%,4952.000000,504.000000,504.000000,39.000000,39.000000
75%,7463.000000,1095.000000,1095.000000,83.000000,83.000000
max,9999.000000,8087.000000,8087.000000,4113.000000,4113.000000

## Visualization

In [167]:
%matplotlib inline
import matplotlib as mpl
import matplotlib.pyplot as plt

In [168]:
mpl.rc('axes', labelsize=14)
mpl.rc('xtick', labelsize=12)
mpl.rc('ytick', labelsize=12)

In [157]:
# pd.cut?
# np.inf
# pd.Categorical??

In [173]:
plt.tight_layout()
#df.hist(bins=50, figsize=(20,15))

# df.hist??

In [174]:
corr_matrix = df.corr()
corr_matrix['LuckyNo'].sort_values(ascending=False)

LuckyNo                    1.000000
DaysUntilNextExactMatch    0.005985
DaysSinceLastExactMatch    0.005985
DaysUntilNextAnyMatch      0.003307
DaysSinceLastAnyMatch      0.002328
Name: LuckyNo, dtype: float64

## Numeric

```
1. Numeric feature preprocessing is different for tree and
non-tree models:
    a. Tree-based models doesn’t depend on scaling
    b. Non-tree-based models hugely depend on scaling


2. Most often used preprocessings are:
    a. MinMaxScaler - to [0,1]
    b. StandardScaler - to mean==0, std==1
    c. Rank - sets spaces between sorted values to be equal
    d. np.log(1+x) and np.sqrt(1+x)


3. Scaling and Rank for numeric features:
    a. Tree-based models doesn't depend on them
    b. Non-tree-based models hugely depend on them

4. Most often used preprocessings are:
    a. MinMaxScaler - to [0,1]
    b. StandardScaler - to mean==0, std==1
    c. Rank - sets spaces between sorted values to be equal
    d. np.log(1+x) and np.sqrt(1+x)

5. Feature generation is powered by:
    a. Prior knowledge
    b. Exploratory data analysis
    
To [0,1]
sklearn.preprocessing.MinMaxScaler
X = (X  X.min())/(X.max()  X.min())

To mean=0, std=1
sklearn.preprocessing.StandardScaler
X = (X  X.mean())/X.std()    

UPPERBOUND, LOWERBOUND = np.percentile(x, [1,99])
y = np.clip(x, UPPERBOUBD, LOWERBOUND)
pd.Series(y).hist(bins=30)

```

In [175]:
numeric_features

['DaysSinceLastExactMatch',
 'DaysUntilNextExactMatch',
 'DaysSinceLastAnyMatch',
 'DaysUntilNextAnyMatch']

## Categorical

### Mean Encoding

## DateTime

## Timeseries

## Coordinate