<a href="https://colab.research.google.com/github/mengwangk/dl-projects/blob/master/04_02_auto_ml_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Automated ML

In [0]:
COLAB = True

In [20]:
if COLAB:
  !sudo apt-get install git-lfs && git lfs install
  !rm -rf dl-projects
  !git clone https://github.com/mengwangk/dl-projects
  #!cd dl-projects && ls -l --block-size=M

Reading package lists... Done
Building dependency tree
Reading state information... Done
git-lfs is already the newest version (2.3.4-1).
The following package was automatically installed and is no longer required:
  libnvidia-common-430
Use 'sudo apt autoremove' to remove it.
0 upgraded, 0 newly installed, 0 to remove and 7 not upgraded.
Error: Failed to call git rev-parse --git-dir --show-toplevel: "fatal: not a git repository (or any of the parent directories): .git\n"
Git LFS initialized.
Cloning into 'dl-projects'...
remote: Enumerating objects: 30, done.
remote: Counting objects: 100% (30/30), done.
remote: Compressing objects: 100% (25/25), done.
remote: Total 657 (delta 13), reused 9 (delta 3), pack-reused 627
Receiving objects: 100% (657/657), 66.92 MiB | 25.28 MiB/s, done.
Resolving deltas: 100% (367/367), done.

In [0]:
if COLAB:
  !cp dl-projects/utils* .
  !cp dl-projects/preprocess* .

In [0]:
%reload_ext autoreload
%autoreload 2

%matplotlib inline

In [0]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import scipy.stats as ss
import math 
import matplotlib

from scipy import stats
from collections import Counter
from pathlib import Path

plt.style.use('fivethirtyeight')

sns.set(style="ticks")

# Automated feature engineering
import featuretools as ft

# Machine learning
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import Imputer, MinMaxScaler, StandardScaler
from sklearn.metrics import precision_score, recall_score, f1_score, roc_auc_score, precision_recall_curve, roc_curve
from sklearn.model_selection import train_test_split, cross_val_score
from sklearn.ensemble import RandomForestClassifier

from IPython.display import display

from utils import *
from preprocess import *

# The Answer to the Ultimate Question of Life, the Universe, and Everything.
np.random.seed(42)

In [24]:
%aimport

Modules to reload:
all-except-skipped

Modules to skip:

## Preparation

In [25]:
if COLAB:
  from google.colab import drive
  drive.mount('/content/gdrive')
  GDRIVE_DATASET_FOLDER = Path('gdrive/My Drive/datasets/')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [26]:
if COLAB:
  DATASET_PATH = GDRIVE_DATASET_FOLDER
else:
  DATASET_PATH = Path("datasets")

DATASET = DATASET_PATH/"feature_matrix.csv"

if COLAB:
  !ls -l gdrive/"My Drive"/datasets/ --block-size=M

total 317M
-rw------- 1 root root 141M Dec 27 08:27 feature_matrix.csv
-rw------- 1 root root 176M Dec 27 08:28 feature_matrix.pkl

In [0]:
data = pd.read_csv(DATASET, header=0, sep=',', quotechar='"', parse_dates=['time'])

In [28]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 699972 entries, 0 to 699971
Data columns (total 53 columns):
NumberId                                   699972 non-null int64
time                                       699972 non-null datetime64[ns]
SUM(Results.DrawNo)                        699972 non-null int64
SUM(Results.LuckyNo)                       699972 non-null int64
SUM(Results.TotalStrike)                   699972 non-null int64
STD(Results.DrawNo)                        699575 non-null float64
STD(Results.LuckyNo)                       699575 non-null float64
STD(Results.TotalStrike)                   699575 non-null float64
MAX(Results.DrawNo)                        699972 non-null int64
MAX(Results.LuckyNo)                       699972 non-null int64
MAX(Results.TotalStrike)                   699972 non-null int64
SKEW(Results.DrawNo)                       696365 non-null float64
SKEW(Results.LuckyNo)                      696365 non-null float64
SKEW(Results.TotalStrike)                  696365 non-null float64
MIN(Results.DrawNo)                        699972 non-null int64
MIN(Results.LuckyNo)                       699972 non-null int64
MIN(Results.TotalStrike)                   699972 non-null int64
MEAN(Results.DrawNo)                       699972 non-null float64
MEAN(Results.LuckyNo)                      699972 non-null int64
MEAN(Results.TotalStrike)                  699972 non-null int64
COUNT(Results)                             699972 non-null int64
NUM_UNIQUE(Results.PrizeType)              699972 non-null int64
DAY(first_Results_time)                    699972 non-null int64
YEAR(first_Results_time)                   699972 non-null int64
MONTH(first_Results_time)                  699972 non-null int64
WEEKDAY(first_Results_time)                699972 non-null int64
TotalStrike                                699972 non-null float64
Label                                      699972 non-null int64
MODE(Results.PrizeType)_1stPrizeNo         699972 non-null int64
MODE(Results.PrizeType)_2ndPrizeNo         699972 non-null int64
MODE(Results.PrizeType)_3rdPrizeNo         699972 non-null int64
MODE(Results.PrizeType)_ConsolationNo1     699972 non-null int64
MODE(Results.PrizeType)_ConsolationNo10    699972 non-null int64
MODE(Results.PrizeType)_ConsolationNo2     699972 non-null int64
MODE(Results.PrizeType)_ConsolationNo3     699972 non-null int64
MODE(Results.PrizeType)_ConsolationNo4     699972 non-null int64
MODE(Results.PrizeType)_ConsolationNo5     699972 non-null int64
MODE(Results.PrizeType)_ConsolationNo6     699972 non-null int64
MODE(Results.PrizeType)_ConsolationNo7     699972 non-null int64
MODE(Results.PrizeType)_ConsolationNo8     699972 non-null int64
MODE(Results.PrizeType)_ConsolationNo9     699972 non-null int64
MODE(Results.PrizeType)_SpecialNo1         699972 non-null int64
MODE(Results.PrizeType)_SpecialNo10        699972 non-null int64
MODE(Results.PrizeType)_SpecialNo2         699972 non-null int64
MODE(Results.PrizeType)_SpecialNo3         699972 non-null int64
MODE(Results.PrizeType)_SpecialNo4         699972 non-null int64
MODE(Results.PrizeType)_SpecialNo5         699972 non-null int64
MODE(Results.PrizeType)_SpecialNo6         699972 non-null int64
MODE(Results.PrizeType)_SpecialNo7         699972 non-null int64
MODE(Results.PrizeType)_SpecialNo8         699972 non-null int64
MODE(Results.PrizeType)_SpecialNo9         699972 non-null int64
month                                      699972 non-null int64
year                                       699972 non-null int64
dtypes: datetime64[ns](1), float64(8), int64(44)
memory usage: 283.0 MB

## Preliminary Modeling

In [0]:
feature_matrix = data

In [29]:
feature_matrix.columns

Index(['NumberId', 'time', 'SUM(Results.DrawNo)', 'SUM(Results.LuckyNo)',
       'SUM(Results.TotalStrike)', 'STD(Results.DrawNo)',
       'STD(Results.LuckyNo)', 'STD(Results.TotalStrike)',
       'MAX(Results.DrawNo)', 'MAX(Results.LuckyNo)',
       'MAX(Results.TotalStrike)', 'SKEW(Results.DrawNo)',
       'SKEW(Results.LuckyNo)', 'SKEW(Results.TotalStrike)',
       'MIN(Results.DrawNo)', 'MIN(Results.LuckyNo)',
       'MIN(Results.TotalStrike)', 'MEAN(Results.DrawNo)',
       'MEAN(Results.LuckyNo)', 'MEAN(Results.TotalStrike)', 'COUNT(Results)',
       'NUM_UNIQUE(Results.PrizeType)', 'DAY(first_Results_time)',
       'YEAR(first_Results_time)', 'MONTH(first_Results_time)',
       'WEEKDAY(first_Results_time)', 'TotalStrike', 'Label',
       'MODE(Results.PrizeType)_1stPrizeNo',
       'MODE(Results.PrizeType)_2ndPrizeNo',
       'MODE(Results.PrizeType)_3rdPrizeNo',
       'MODE(Results.PrizeType)_ConsolationNo1',
       'MODE(Results.PrizeType)_ConsolationNo10',
       'MODE(Results.PrizeType)_ConsolationNo2',
       'MODE(Results.PrizeType)_ConsolationNo3',
       'MODE(Results.PrizeType)_ConsolationNo4',
       'MODE(Results.PrizeType)_ConsolationNo5',
       'MODE(Results.PrizeType)_ConsolationNo6',
       'MODE(Results.PrizeType)_ConsolationNo7',
       'MODE(Results.PrizeType)_ConsolationNo8',
       'MODE(Results.PrizeType)_ConsolationNo9',
       'MODE(Results.PrizeType)_SpecialNo1',
       'MODE(Results.PrizeType)_SpecialNo10',
       'MODE(Results.PrizeType)_SpecialNo2',
       'MODE(Results.PrizeType)_SpecialNo3',
       'MODE(Results.PrizeType)_SpecialNo4',
       'MODE(Results.PrizeType)_SpecialNo5',
       'MODE(Results.PrizeType)_SpecialNo6',
       'MODE(Results.PrizeType)_SpecialNo7',
       'MODE(Results.PrizeType)_SpecialNo8',
       'MODE(Results.PrizeType)_SpecialNo9', 'month', 'year'],
      dtype='object')

In [0]:
feature_matrix.drop(columns=['MODE(Results.PrizeType)_1stPrizeNo',
       'MODE(Results.PrizeType)_2ndPrizeNo',
       'MODE(Results.PrizeType)_3rdPrizeNo',
       'MODE(Results.PrizeType)_ConsolationNo1',
       'MODE(Results.PrizeType)_ConsolationNo10',
       'MODE(Results.PrizeType)_ConsolationNo2',
       'MODE(Results.PrizeType)_ConsolationNo3',
       'MODE(Results.PrizeType)_ConsolationNo4',
       'MODE(Results.PrizeType)_ConsolationNo5',
       'MODE(Results.PrizeType)_ConsolationNo6',
       'MODE(Results.PrizeType)_ConsolationNo7',
       'MODE(Results.PrizeType)_ConsolationNo8',
       'MODE(Results.PrizeType)_ConsolationNo9',
       'MODE(Results.PrizeType)_SpecialNo1',
       'MODE(Results.PrizeType)_SpecialNo10',
       'MODE(Results.PrizeType)_SpecialNo2',
       'MODE(Results.PrizeType)_SpecialNo3',
       'MODE(Results.PrizeType)_SpecialNo4',
       'MODE(Results.PrizeType)_SpecialNo5',
       'MODE(Results.PrizeType)_SpecialNo6',
       'MODE(Results.PrizeType)_SpecialNo7',
       'MODE(Results.PrizeType)_SpecialNo8',
       'MODE(Results.PrizeType)_SpecialNo9'], inplace=True)

In [33]:
feature_matrix.head(30)

    NumberId       time  SUM(Results.DrawNo)  ...  Label  month  year
0          0 2014-01-01              1857929  ...      0      1  2014
1          1 2014-01-01              1571202  ...      0      1  2014
2          2 2014-01-01               898913  ...      0      1  2014
3          3 2014-01-01              1628516  ...      0      1  2014
4          4 2014-01-01              1740613  ...      0      1  2014
5          5 2014-01-01              1610634  ...      0      1  2014
6          6 2014-01-01              1613635  ...      0      1  2014
7          7 2014-01-01              1533919  ...      0      1  2014
8          8 2014-01-01              1771724  ...      0      1  2014
9          9 2014-01-01              2431645  ...      0      1  2014
10        10 2014-01-01              1129606  ...      0      1  2014
11        11 2014-01-01              1090202  ...      0      1  2014
12        12 2014-01-01              1851229  ...      0      1  2014
13        13 2014-01-01              3037961  ...      0      1  2014
14        14 2014-01-01               784595  ...      0      1  2014
15        15 2014-01-01               861711  ...      0      1  2014
16        16 2014-01-01              2111154  ...      0      1  2014
17        17 2014-01-01              1827027  ...      0      1  2014
18        18 2014-01-01              1867742  ...      0      1  2014
19        19 2014-01-01              2500705  ...      0      1  2014
20        20 2014-01-01              3085853  ...      0      1  2014
21        21 2014-01-01              1276583  ...      0      1  2014
22        22 2014-01-01              1112906  ...      0      1  2014
23        23 2014-01-01               640588  ...      0      1  2014
24        24 2014-01-01              1570823  ...      0      1  2014
25        25 2014-01-01               939405  ...      0      1  2014
26        26 2014-01-01              1780335  ...      0      1  2014
27        27 2014-01-01              2303835  ...      0      1  2014
28        28 2014-01-01              2475867  ...      0      1  2014
29        29 2014-01-01              1484128  ...      0      1  2014

[30 rows x 30 columns]

### Random Forest

In [0]:
model = RandomForestClassifier(n_estimators = 1000, 
                               random_state = 50,
                               n_jobs = -1)

In [0]:
def predict_dt(dt, feature_matrix, return_probs = False):

    feature_matrix['date'] = feature_matrix['time']

    # Subset labels
    test_labels = feature_matrix.loc[feature_matrix['date'] == dt, 'Label']
    train_labels = feature_matrix.loc[feature_matrix['date'] < dt, 'Label']

    print(f"Size of test labels {len(test_labels)}")
    print(f"Size of train labels {len(train_labels)}")
    
    # Features
    X_train = feature_matrix[feature_matrix['date'] < dt].drop(columns = ['NumberId', 'time',
                                                                                     'date', 'Label', 'TotalStrike', 'month', 'year'])
    X_test = feature_matrix[feature_matrix['date'] == dt].drop(columns = ['NumberId', 'time',
                                                                                     'date', 'Label', 'TotalStrike', 'month', 'year'])
    print(f"Size of X train {len(X_train)}")
    print(f"Size of X test  {len(X_test)}")
   

    feature_names = list(X_train.columns)
    
    # Impute and scale features
    pipeline = Pipeline([('imputer', Imputer(strategy = 'median')), 
                      ('scaler', MinMaxScaler())])

    # Fit and transform training data
    X_train = pipeline.fit_transform(X_train)
    X_test = pipeline.transform(X_test)
    
    # Labels
    y_train = np.array(train_labels).reshape((-1, ))
    y_test = np.array(test_labels).reshape((-1, ))
    
    print('Training on {} observations.'.format(len(X_train)))
    print('Testing on {} observations.\n'.format(len(X_test)))
    
    # Train 
    model.fit(X_train, y_train)
    
    # Make predictions
    predictions = model.predict(X_test)
    probs = model.predict_proba(X_test)[:, 1]
    
    # Calculate metrics
    p = precision_score(y_test, predictions)
    r = recall_score(y_test, predictions)
    f = f1_score(y_test, predictions)
    auc = roc_auc_score(y_test, probs)
    
    print(f'Precision: {round(p, 5)}')
    print(f'Recall: {round(r, 5)}')
    print(f'F1 Score: {round(f, 5)}')
    print(f'ROC AUC: {round(auc, 5)}')
    
    # Feature importances
    fi = pd.DataFrame({'feature': feature_names, 'importance': model.feature_importances_})
    
    if return_probs:
        return fi, probs
    
    return fi

In [19]:
# All the months
len(feature_matrix['time'].unique()), feature_matrix['time'].unique()

(70, array(['2014-01-01T00:00:00.000000000', '2014-02-01T00:00:00.000000000',
        '2014-03-01T00:00:00.000000000', '2014-04-01T00:00:00.000000000',
        '2014-05-01T00:00:00.000000000', '2014-06-01T00:00:00.000000000',
        '2014-07-01T00:00:00.000000000', '2014-08-01T00:00:00.000000000',
        '2014-09-01T00:00:00.000000000', '2014-10-01T00:00:00.000000000',
        '2014-11-01T00:00:00.000000000', '2014-12-01T00:00:00.000000000',
        '2015-01-01T00:00:00.000000000', '2015-02-01T00:00:00.000000000',
        '2015-03-01T00:00:00.000000000', '2015-04-01T00:00:00.000000000',
        '2015-05-01T00:00:00.000000000', '2015-06-01T00:00:00.000000000',
        '2015-07-01T00:00:00.000000000', '2015-08-01T00:00:00.000000000',
        '2015-09-01T00:00:00.000000000', '2015-10-01T00:00:00.000000000',
        '2015-11-01T00:00:00.000000000', '2015-12-01T00:00:00.000000000',
        '2016-01-01T00:00:00.000000000', '2016-02-01T00:00:00.000000000',
        '2016-03-01T00:00:00.000000000', '2016-04-01T00:00:00.000000000',
        '2016-05-01T00:00:00.000000000', '2016-06-01T00:00:00.000000000',
        '2016-07-01T00:00:00.000000000', '2016-08-01T00:00:00.000000000',
        '2016-09-01T00:00:00.000000000', '2016-10-01T00:00:00.000000000',
        '2016-11-01T00:00:00.000000000', '2016-12-01T00:00:00.000000000',
        '2017-01-01T00:00:00.000000000', '2017-02-01T00:00:00.000000000',
        '2017-03-01T00:00:00.000000000', '2017-04-01T00:00:00.000000000',
        '2017-05-01T00:00:00.000000000', '2017-06-01T00:00:00.000000000',
        '2017-07-01T00:00:00.000000000', '2017-08-01T00:00:00.000000000',
        '2017-09-01T00:00:00.000000000', '2017-10-01T00:00:00.000000000',
        '2017-11-01T00:00:00.000000000', '2017-12-01T00:00:00.000000000',
        '2018-01-01T00:00:00.000000000', '2018-02-01T00:00:00.000000000',
        '2018-03-01T00:00:00.000000000', '2018-04-01T00:00:00.000000000',
        '2018-05-01T00:00:00.000000000', '2018-06-01T00:00:00.000000000',
        '2018-07-01T00:00:00.000000000', '2018-08-01T00:00:00.000000000',
        '2018-09-01T00:00:00.000000000', '2018-10-01T00:00:00.000000000',
        '2018-11-01T00:00:00.000000000', '2018-12-01T00:00:00.000000000',
        '2019-01-01T00:00:00.000000000', '2019-02-01T00:00:00.000000000',
        '2019-03-01T00:00:00.000000000', '2019-04-01T00:00:00.000000000',
        '2019-05-01T00:00:00.000000000', '2019-06-01T00:00:00.000000000',
        '2019-07-01T00:00:00.000000000', '2019-08-01T00:00:00.000000000',
        '2019-09-01T00:00:00.000000000', '2019-10-01T00:00:00.000000000'],
       dtype='datetime64[ns]'))

In [0]:
june_2019 = predict_dt(pd.datetime(2019,6,1), feature_matrix)

In [0]:
from utils import plot_feature_importances

norm_june_fi = plot_feature_importances(june_2019)

## Comparison to Baseline