<a href="https://colab.research.google.com/github/mengwangk/dl-projects/blob/master/04_02_automated_machine_learning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Automated ML

In [0]:
%reload_ext autoreload
%autoreload 2

%matplotlib inline

In [0]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import scipy.stats as ss
import math 
import matplotlib

from scipy import stats
from collections import Counter
from pathlib import Path

plt.style.use('fivethirtyeight')

sns.set(style="ticks")

# Automated feature engineering
import featuretools as ft

# Machine learning
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import Imputer, MinMaxScaler, StandardScaler
from sklearn.metrics import precision_score, recall_score, f1_score, roc_auc_score, precision_recall_curve, roc_curve
from sklearn.model_selection import train_test_split, cross_val_score
from sklearn.ensemble import RandomForestClassifier

from IPython.display import display

from utils import *
from preprocess import *

# The Answer to the Ultimate Question of Life, the Universe, and Everything.
np.random.seed(42)

In [0]:
%aimport

Modules to reload:
all-except-skipped

Modules to skip:

## Preparation

In [0]:
DATASET_PATH = Path("datasets/lotto")
DATASET = DATASET_PATH/"4D.zip"

In [0]:
df = format_tabular(DATASET)

In [0]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 106398 entries, 0 to 106397
Data columns (total 4 columns):
DrawNo       106398 non-null int64
DrawDate     106398 non-null datetime64[ns]
PrizeType    106398 non-null object
LuckyNo      106398 non-null int64
dtypes: datetime64[ns](1), int64(2), object(1)
memory usage: 3.2+ MB

In [0]:
df.tail(10)

        DrawNo   DrawDate    PrizeType  LuckyNo
106388  503319 2019-11-17   SpecialNo1     2457
106389  503319 2019-11-17  SpecialNo10     4508
106390  503319 2019-11-17   SpecialNo2     2647
106391  503319 2019-11-17   SpecialNo3     2911
106392  503319 2019-11-17   SpecialNo4     7238
106393  503319 2019-11-17   SpecialNo5     4698
106394  503319 2019-11-17   SpecialNo6     1916
106395  503319 2019-11-17   SpecialNo7     1552
106396  503319 2019-11-17   SpecialNo8     3738
106397  503319 2019-11-17   SpecialNo9     6188

## Automated Feature Engineering