<a href="https://colab.research.google.com/github/mengwangk/dl-projects/blob/master/04_17_prophet_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Prophet from Facebook

[Getting started](https://facebook.github.io/prophet/docs/quick_start.html#python-api)

[Prophet+Fastai](https://www.martinalarcon.org/2018-12-31-ab-timeseries/)

[Arima, LSTM, Prophet](https://medium.com/analytics-vidhya/time-series-forecasting-arima-vs-lstm-vs-prophet-62241c203a3b)

In [1]:
!pip install -qq pystan
!pip install -qq fbprophet

In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import matplotlib
from pathlib import Path
from fbprophet import Prophet

DATASET_NAME = '4D.zip'

In [3]:
!git clone https://github.com/mengwangk/dl-projects
!cp dl-projects/utils* .
!cp dl-projects/preprocess* .

Cloning into 'dl-projects'...
remote: Enumerating objects: 158, done.
remote: Counting objects: 100% (158/158), done.
remote: Compressing objects: 100% (141/141), done.
remote: Total 2368 (delta 98), reused 33 (delta 17), pack-reused 2210
Receiving objects: 100% (2368/2368), 80.66 MiB | 11.09 MiB/s, done.
Resolving deltas: 100% (1477/1477), done.

In [4]:
%reload_ext autoreload
%autoreload 2

%matplotlib notebook

In [5]:
from utils import *
from preprocess import *

In [6]:
from google.colab import drive
drive.mount('/content/gdrive')
GDRIVE_DATASET_FOLDER = Path('gdrive/My Drive/datasets/')
DATASET_PATH = GDRIVE_DATASET_FOLDER
ORIGIN_DATASET_PATH = Path('dl-projects/datasets')
ORIGIN_DATASET = ORIGIN_DATASET_PATH/DATASET_NAME

Mounted at /content/gdrive

In [7]:
data = format_tabular(ORIGIN_DATASET)
data.head(10)

   DrawNo   DrawDate        PrizeType  LuckyNo
0   40792 1992-05-06       1stPrizeNo       19
1   40792 1992-05-06       2ndPrizeNo     1124
2   40792 1992-05-06       3rdPrizeNo      592
3   40792 1992-05-06   ConsolationNo1     5311
4   40792 1992-05-06  ConsolationNo10      407
5   40792 1992-05-06   ConsolationNo2     1949
6   40792 1992-05-06   ConsolationNo3     1606
7   40792 1992-05-06   ConsolationNo4     3775
8   40792 1992-05-06   ConsolationNo5     6226
9   40792 1992-05-06   ConsolationNo6     1271

In [12]:
data.rename(columns={"DrawDate": 'ds', "LuckyNo": "y" }, inplace=True)
ts_data = data.drop(columns=["DrawNo", "PrizeType"])
ts_data.head(10)

          ds     y
0 1992-05-06    19
1 1992-05-06  1124
2 1992-05-06   592
3 1992-05-06  5311
4 1992-05-06   407
5 1992-05-06  1949
6 1992-05-06  1606
7 1992-05-06  3775
8 1992-05-06  6226
9 1992-05-06  1271

In [13]:
m = Prophet()
m.fit(ts_data)

INFO:numexpr.utils:NumExpr defaulting to 2 threads.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.

In [15]:
m.sample_model