# Prophet from Facebook

[Getting started](https://facebook.github.io/prophet/docs/quick_start.html#python-api)

[Prophet+Fastai](https://www.martinalarcon.org/2018-12-31-ab-timeseries/)

[Arima, LSTM, Prophet](https://medium.com/analytics-vidhya/time-series-forecasting-arima-vs-lstm-vs-prophet-62241c203a3b)

In [9]:
!pip install -qq pystan
!pip install -qq fbprophet

In [10]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import matplotlib
from pathlib import Path
from fbprophet import Prophet

DATASET_NAME = '4D.zip'

In [11]:
!git clone https://github.com/mengwangk/dl-projects
!cp dl-projects/utils* .
!cp dl-projects/preprocess* .

Cloning into 'dl-projects'...
remote: Enumerating objects: 155, done.
remote: Counting objects: 100% (155/155), done.
remote: Compressing objects: 100% (138/138), done.
remote: Total 2365 (delta 97), reused 32 (delta 17), pack-reused 2210
Receiving objects: 100% (2365/2365), 80.66 MiB | 11.97 MiB/s, done.
Resolving deltas: 100% (1476/1476), done.

In [12]:
%reload_ext autoreload
%autoreload 2

%matplotlib notebook

In [13]:
from utils import *
from preprocess import *

In [15]:
from google.colab import drive
drive.mount('/content/gdrive')
GDRIVE_DATASET_FOLDER = Path('gdrive/My Drive/datasets/')
DATASET_PATH = GDRIVE_DATASET_FOLDER
ORIGIN_DATASET_PATH = Path('dl-projects/datasets')
ORIGIN_DATASET = ORIGIN_DATASET_PATH/DATASET_NAME

Mounted at /content/gdrive

In [16]:
data = format_tabular(ORIGIN_DATASET)
data.head(10)

   DrawNo   DrawDate        PrizeType  LuckyNo
0   40792 1992-05-06       1stPrizeNo       19
1   40792 1992-05-06       2ndPrizeNo     1124
2   40792 1992-05-06       3rdPrizeNo      592
3   40792 1992-05-06   ConsolationNo1     5311
4   40792 1992-05-06  ConsolationNo10      407
5   40792 1992-05-06   ConsolationNo2     1949
6   40792 1992-05-06   ConsolationNo3     1606
7   40792 1992-05-06   ConsolationNo4     3775
8   40792 1992-05-06   ConsolationNo5     6226
9   40792 1992-05-06   ConsolationNo6     1271