In [1]:
!rm -rf dl-projects
!git clone https://github.com/mengwangk/dl-projects
!cd dl-projects && ls

Cloning into 'dl-projects'...
remote: Enumerating objects: 78, done.
remote: Counting objects: 100% (78/78), done.
remote: Compressing objects: 100% (56/56), done.
remote: Total 297 (delta 44), reused 51 (delta 21), pack-reused 219
Receiving objects: 100% (297/297), 8.28 MiB | 1.35 MiB/s, done.
Resolving deltas: 100% (149/149), done.
01_1_tensor.ipynb	    50_RL.ipynb		  lstm_s1.ipynb
01_2_correlation.ipynb	    999_Links.ipynb	  lstm_s2.ipynb
01_3_preprocessing.ipynb    archive		  lstm_s3.ipynb
01_4_numpy.ipynb	    d01_download.ipynb	  lstm_s4.ipynb
02_feature_engineer.ipynb   d02_0_features.ipynb  lstm_s5.ipynb
03_feature_selection.ipynb  d02_1_features.ipynb  lstm_s6.ipynb
04_basic_nn.ipynb	    d03_train_dl.ipynb	  notebook2script.py
05_calculus.ipynb	    d04_train_ml.ipynb	  README.md
06_stats.ipynb		    datasets		  run_notebook.py
07_algebra.ipynb	    exp			  scraper
08_probability.ipynb	    featurelib		  stock.ipynb
09_evaluation.ipynb	    LICENSE

In [ ]:
from pathlib import Path
import pandas as pd
import numpy as np
import scipy as sp

import warnings
warnings.filterwarnings(action="ignore", message="^internal gelsd")

# DATASET = Path("datasets/lotto/data_processed.csv")
DATASET = Path("dl-projects/datasets/lotto/data_processed.csv")

# The Answer to the Ultimate Question of Life, the Universe, and Everything.
np.random.seed(42)

In [ ]:
# Read into data frame
dataset = pd.read_csv(DATASET, header=0, sep=',', quotechar='"', parse_dates=['DrawDate'], dtype={'PrizeType': str})

In [4]:
dataset.head(10)

   DrawNo   DrawDate        PrizeType  ...  pos_4_7_freq  pos_4_8_freq  pos_4_9_freq
0   40792 1992-05-06       1stPrizeNo  ...             6             2             6
1   40792 1992-05-06       2ndPrizeNo  ...             6             2             6
2   40792 1992-05-06       3rdPrizeNo  ...             6             2             6
3   40792 1992-05-06   ConsolationNo1  ...             6             2             6
4   40792 1992-05-06  ConsolationNo10  ...             6             2             6
5   40792 1992-05-06   ConsolationNo2  ...             6             2             6
6   40792 1992-05-06   ConsolationNo3  ...             6             2             6
7   40792 1992-05-06   ConsolationNo4  ...             6             2             6
8   40792 1992-05-06   ConsolationNo5  ...             6             2             6
9   40792 1992-05-06   ConsolationNo6  ...             6             2             6

[10 rows x 115 columns]

In [5]:
df = dataset.copy()
len(df.columns)

115

In [6]:
for ind, column in enumerate(df.columns):
    print('"{}"'.format(column), end=', ')
    if ind % 5 == 0:
        print()

"DrawNo",
"DrawDate", "PrizeType", "LuckyNo", "DaysSinceLastExactMatch", "DaysUntilNextExactMatch",
"DaysSinceLastAnyMatch", "DaysUntilNextAnyMatch", "1st_digit", "2nd_digit", "3rd_digit",
"4th_digit", "DrawYear", "DrawMonth", "DrawWeek", "DrawDay",
"DrawDayofweek", "DrawDayofyear", "CumProbaExactMatch", "CumProbaAnyMatch", "0_1",
"0_2", "0_3", "0_4", "0_5", "0_6",
"0_7", "0_8", "0_9", "1_2", "1_3",
"1_4", "1_5", "1_6", "1_7", "1_8",
"1_9", "2_3", "2_4", "2_5", "2_6",
"2_7", "2_8", "2_9", "3_4", "3_5",
"3_6", "3_7", "3_8", "3_9", "4_5",
"4_6", "4_7", "4_8", "4_9", "5_6",
"5_7", "5_8", "5_9", "6_7", "6_8",
"6_9", "7_8", "7_9", "8_9", "0_0",
"1_1", "2_2", "3_3", "4_4", "5_5",
"6_6", "7_7", "8_8", "9_9", "pos_1_0_freq",
"pos_1_1_freq", "pos_1_2_freq", "pos_1_3_freq", "pos_1_4_freq", "pos_1_5_freq",
"pos_1_6_freq", "pos_1_7_freq", "pos_1_8_freq", "pos_1_9_freq", "pos_2_0_freq",
"pos_2_1_freq", "pos_2_2_freq", "pos_2_3_freq", "pos_2_4_freq", "pos_2_5_freq",
"pos_2_6_freq", "pos_2_7_freq", "pos_2_8_freq", "pos_2_9_freq", "pos_3_0_freq",
"pos_3_1_freq", "pos_3_2_freq", "pos_3_3_freq", "pos_3_4_freq", "pos_3_5_freq",
"pos_3_6_freq", "pos_3_7_freq", "pos_3_8_freq", "pos_3_9_freq", "pos_4_0_freq",
"pos_4_1_freq", "pos_4_2_freq", "pos_4_3_freq", "pos_4_4_freq", "pos_4_5_freq",
"pos_4_6_freq", "pos_4_7_freq", "pos_4_8_freq", "pos_4_9_freq",

In [7]:
numeric_features = ["DrawNo",
                    "DaysSinceLastExactMatch", "DaysUntilNextExactMatch", 
                    "DaysSinceLastAnyMatch", "DaysUntilNextAnyMatch",
                    "DrawYear", "DrawMonth", "DrawWeek", "DrawDay", "DrawDayofweek", "DrawDayofyear",
                    "CumProbaExactMatch", "CumProbaAnyMatch",
                    "0_1", "0_2", "0_3", "0_4", "0_5", 
                    "0_6", "0_7", "0_8", "0_9", "1_2", "1_3", "1_4", "1_5", 
                    "1_6", "1_7", "1_8", "1_9", "2_3", "2_4", "2_5", "2_6", 
                    "2_7", "2_8", "2_9", "3_4", "3_5", "3_6", "3_7", "3_8", 
                    "3_9", "4_5", "4_6", "4_7", "4_8", "4_9", "5_6", "5_7", 
                    "5_8", "5_9", "6_7", "6_8", "6_9", "7_8", "7_9", "8_9", 
                    "0_0", "1_1", "2_2", "3_3", "4_4", "5_5", "6_6", "7_7", 
                    "8_8", "9_9",
                    "pos_1_0_freq", "pos_1_1_freq", "pos_1_2_freq", "pos_1_3_freq", "pos_1_4_freq", "pos_1_5_freq", 
                    "pos_1_6_freq", "pos_1_7_freq", "pos_1_8_freq", "pos_1_9_freq", "pos_2_0_freq", "pos_2_1_freq", "pos_2_2_freq", "pos_2_3_freq", 
                    "pos_2_4_freq", "pos_2_5_freq", "pos_2_6_freq", "pos_2_7_freq", "pos_2_8_freq", "pos_2_9_freq", "pos_3_0_freq", "pos_3_1_freq", 
                    "pos_3_2_freq", "pos_3_3_freq", "pos_3_4_freq", "pos_3_5_freq", "pos_3_6_freq", "pos_3_7_freq", "pos_3_8_freq", "pos_3_9_freq", 
                    "pos_4_0_freq", "pos_4_1_freq", "pos_4_2_freq", "pos_4_3_freq", "pos_4_4_freq", "pos_4_5_freq", "pos_4_6_freq", "pos_4_7_freq", 
                    "pos_4_8_freq", "pos_4_9_freq"
                   ]
categorical_features = ["PrizeType"]
datetime_features = ["DrawDate"]
target_feature = ["LuckyNo"]
target_features_drilled = ["1st_digit", "2nd_digit", "3rd_digit", "4th_digit"]

# mean_features = ["TotalMean", "1stDigitMean", "2ndDigitMean", "3rdDigitMean", "4thDigitMean"]

len(numeric_features)

108

### Scaling

In [8]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
nf_scaled = scaler.fit_transform(df[numeric_features])
print(scaler.mean_)
print(scaler.inverse_transform(nf_scaled))

[2.68299492e+05 7.64409447e+02 7.64409447e+02 6.61790529e+01
 6.61790529e+01 2.00575478e+03 6.50164799e+00 2.64524280e+01
 1.56282136e+01 4.05405405e+00 1.82380356e+02 6.23821807e-02
 9.30387206e-01 5.47741134e+03 5.42231773e+03 5.55793957e+03
 5.45725005e+03 5.41884179e+03 5.39399253e+03 5.45006834e+03
 5.40091365e+03 5.48733092e+03 5.59624874e+03 5.59605845e+03
 5.66231993e+03 5.50389519e+03 5.52639903e+03 5.57656537e+03
 5.56644847e+03 5.53951791e+03 5.56605823e+03 5.50430521e+03
 5.41334476e+03 5.44459635e+03 5.38095957e+03 5.42613052e+03
 5.39721402e+03 5.51594419e+03 5.50239354e+03 5.51964821e+03
 5.52140628e+03 5.57041903e+03 5.55934102e+03 5.39769875e+03
 5.39214217e+03 5.38072270e+03 5.50358471e+03 5.51762360e+03
 5.36897956e+03 5.34769128e+03 5.42560338e+03 5.47009383e+03
 5.51257108e+03 5.45700198e+03 5.38235377e+03 5.54290200e+03
 5.28726368e+03 5.49614568e+03 2.71367765e+03 2.79092156e+03
 2.75304614e+03 2.85032806e+03 2.73804461e+03 2.66042936e+03
 2.66422610e+03 2.75062382e+03 2.71705625e+03 2.73425335e+03
 5.21161481e+03 5.38649396e+03 5.20327994e+03 5.32934015e+03
 5.28295869e+03 5.13371984e+03 5.22404966e+03 5.18590683e+03
 5.24081564e+03 5.14982048e+03 5.21390332e+03 5.38883718e+03
 5.20559042e+03 5.33167304e+03 5.28523731e+03 5.13599275e+03
 5.22632103e+03 5.18820193e+03 5.24312085e+03 5.15212217e+03
 5.21390969e+03 5.38880708e+03 5.20557768e+03 5.33168908e+03
 5.28527071e+03 5.13598374e+03 5.22630433e+03 5.18819864e+03
 5.24310921e+03 5.15214986e+03 5.21393188e+03 5.38884531e+03
 5.20559284e+03 5.33166425e+03 5.28525247e+03 5.13601538e+03
 5.22633663e+03 5.18818787e+03 5.24307295e+03 5.15210042e+03]
[[4.07920e+04 0.00000e+00 2.80000e+01 ... 6.00000e+00 2.00000e+00
  6.00000e+00]
 [4.07920e+04 0.00000e+00 2.43600e+03 ... 6.00000e+00 2.00000e+00
  6.00000e+00]
 [4.07920e+04 0.00000e+00 2.50000e+01 ... 6.00000e+00 2.00000e+00
  6.00000e+00]
 ...
 [4.95819e+05 1.20000e+02 0.00000e+00 ... 1.03720e+04 1.04320e+04
  1.02760e+04]
 [4.95819e+05 5.92000e+02 0.00000e+00 ... 1.03720e+04 1.04320e+04
  1.02760e+04]
 [4.95819e+05 2.06600e+03 0.00000e+00 ... 1.03720e+04 1.04320e+04
  1.02760e+04]]

In [9]:
from sklearn.preprocessing import OneHotEncoder, LabelBinarizer, MultiLabelBinarizer
from sklearn.feature_extraction import DictVectorizer, FeatureHasher

onehot_encoder = OneHotEncoder()
cf_scaled = onehot_encoder.fit_transform(df[categorical_features])
onehot_encoder.categories_, cf_scaled.shape, len(cf_scaled.toarray()), cf_scaled.toarray()

([array(['1stPrizeNo', '2ndPrizeNo', '3rdPrizeNo', 'ConsolationNo1',
         'ConsolationNo10', 'ConsolationNo2', 'ConsolationNo3',
         'ConsolationNo4', 'ConsolationNo5', 'ConsolationNo6',
         'ConsolationNo7', 'ConsolationNo8', 'ConsolationNo9', 'SpecialNo1',
         'SpecialNo10', 'SpecialNo2', 'SpecialNo3', 'SpecialNo4',
         'SpecialNo5', 'SpecialNo6', 'SpecialNo7', 'SpecialNo8',
         'SpecialNo9'], dtype=object)],
 (104673, 23),
 104673,
 array([[1., 0., 0., ..., 0., 0., 0.],
        [0., 1., 0., ..., 0., 0., 0.],
        [0., 0., 1., ..., 0., 0., 0.],
        ...,
        [0., 0., 0., ..., 1., 0., 0.],
        [0., 0., 0., ..., 0., 1., 0.],
        [0., 0., 0., ..., 0., 0., 1.]]))

In [10]:
# Features
nf_scaled.shape, cf_scaled.shape

((104673, 108), (104673, 23))

In [11]:
# Join the 2 arrays
features = sp.sparse.hstack((nf_scaled, cf_scaled))
features.shape

(104673, 131)

In [12]:
labels = scaler.fit_transform(df[target_feature])
labels, scaler.inverse_transform(labels)

(array([[-1.71731986],
        [-1.33434554],
        [-1.51872774],
        ...,
        [ 0.0263397 ],
        [ 1.42064349],
        [-0.69247364]]), array([[  19.],
        [1124.],
        [ 592.],
        ...,
        [5050.],
        [9073.],
        [2976.]]))

### Correlation

In [13]:
features.shape, labels.shape

((104673, 131), (104673, 1))

In [14]:
features.dtype, labels.dtype

(dtype('float64'), dtype('float64'))

In [ ]:
for ind, f in enumerate(nf_scaled[0]):
    print(ind, numeric_features[ind], '\t\t', np.corrcoef(nf_scaled[:, ind], labels[:, 0])[0][1])
    # print(nf_scaled[:, ind].shape, labels[:, 0].shape)
    # print()

#### Drop features

In [ ]:
# drop DrawDay
numeric_features = ["DrawNo",
                    "DaysSinceLastExactMatch", "DaysUntilNextExactMatch", 
                    "DaysSinceLastAnyMatch", "DaysUntilNextAnyMatch",
                    "DrawYear", "DrawMonth", "DrawWeek", "DrawDayofweek", "DrawDayofyear",
                    "CumProbaExactMatch", "CumProbaAnyMatch"
                   ]
categorical_features = ["PrizeType"]
datetime_features = ["DrawDate"]
target_feature = ["LuckyNo"]

In [17]:
nf_scaled = scaler.fit_transform(df[numeric_features])
for ind, f in enumerate(nf_scaled[0]):
    print(numeric_features[ind], '\t\t', np.corrcoef(nf_scaled[:, ind], labels[:, 0])[0][1])

DrawNo 		 -0.0032182204064142147
DaysSinceLastExactMatch 		 0.005984842985229681
DaysUntilNextExactMatch 		 0.005984842985229679
DaysSinceLastAnyMatch 		 0.002328232886996674
DaysUntilNextAnyMatch 		 0.0033065825999482666
DrawYear 		 -0.003070982129500965
DrawMonth 		 -0.0029849057887388272
DrawWeek 		 -0.0027621409428476604
DrawDayofweek 		 0.0043796593856403245
DrawDayofyear 		 -0.00289589777455866
CumProbaExactMatch 		 -0.009410044867088282
CumProbaAnyMatch 		 -0.003994047653223088

In [18]:
# Validation
corr_matrix = df[numeric_features + categorical_features + target_feature].corr()
print(corr_matrix['LuckyNo'].sort_values(ascending=False))

LuckyNo                    1.000000
DaysUntilNextExactMatch    0.005985
DaysSinceLastExactMatch    0.005985
DrawDayofweek              0.004380
DaysUntilNextAnyMatch      0.003307
DaysSinceLastAnyMatch      0.002328
DrawWeek                  -0.002762
DrawDayofyear             -0.002896
DrawMonth                 -0.002985
DrawYear                  -0.003071
DrawNo                    -0.003218
CumProbaAnyMatch          -0.003994
CumProbaExactMatch        -0.009410
Name: LuckyNo, dtype: float64

In [19]:
df = dataset[target_feature + target_features_drilled + categorical_features + numeric_features + datetime_features].copy()
df.columns

Index(['LuckyNo', '1st_digit', '2nd_digit', '3rd_digit', '4th_digit',
       'PrizeType', 'DrawNo', 'DaysSinceLastExactMatch',
       'DaysUntilNextExactMatch', 'DaysSinceLastAnyMatch',
       'DaysUntilNextAnyMatch', 'DrawYear', 'DrawMonth', 'DrawWeek',
       'DrawDayofweek', 'DrawDayofyear', 'CumProbaExactMatch',
       'CumProbaAnyMatch', 'DrawDate'],
      dtype='object')

In [20]:
df.describe() # all data

             LuckyNo      1st_digit  ...  CumProbaExactMatch  CumProbaAnyMatch
count  104673.000000  104673.000000  ...       104673.000000     104673.000000
mean     4974.001777       4.475471  ...            0.062382          0.930387
std      2885.324727       2.871106  ...            0.038001          0.675621
min         0.000000       0.000000  ...            0.010000          0.010000
25%      2463.000000       2.000000  ...            0.030000          0.380000
50%      4952.000000       4.000000  ...            0.060000          0.800000
75%      7463.000000       7.000000  ...            0.090000          1.310000
max      9999.000000       9.000000  ...            0.270000          2.930000

[8 rows x 17 columns]

In [21]:
# 1/3 of data
df.head( int(len(df) / 3)).describe()

            LuckyNo     1st_digit  ...  CumProbaExactMatch  CumProbaAnyMatch
count  34891.000000  34891.000000  ...        34891.000000      34891.000000
mean    4981.949385      4.481041  ...            0.027447          0.317357
std     2880.783177      2.866376  ...            0.016649          0.231094
min        0.000000      0.000000  ...            0.010000          0.010000
25%     2490.000000      2.000000  ...            0.010000          0.130000
50%     4952.000000      4.000000  ...            0.020000          0.270000
75%     7471.000000      7.000000  ...            0.040000          0.450000
max     9999.000000      9.000000  ...            0.140000          1.070000

[8 rows x 17 columns]

In [22]:
# 1/2 of data
df.head( int(len(df) / 2)).describe()

            LuckyNo     1st_digit  ...  CumProbaExactMatch  CumProbaAnyMatch
count  52336.000000  52336.000000  ...        52336.000000      52336.000000
mean    4974.957505      4.475180  ...            0.036196          0.470292
std     2885.343416      2.871423  ...            0.022192          0.341735
min        0.000000      0.000000  ...            0.010000          0.010000
25%     2470.000000      2.000000  ...            0.020000          0.190000
50%     4941.500000      4.000000  ...            0.030000          0.400000
75%     7465.000000      7.000000  ...            0.050000          0.670000
max     9999.000000      9.000000  ...            0.170000          1.530000

[8 rows x 17 columns]

In [23]:
df['LuckyNo'].mean(), df['1st_digit'].mean(), df['2nd_digit'].mean(), df['3rd_digit'].mean(), df['4th_digit'].mean()

(4974.00177696254,
 4.4754712294478995,
 4.490986214209968,
 4.495934959349594,
 4.47257650014808)

In [24]:
# Derive the means

df["TotalMean"] = 0
df["1stDigitMean"] = 0
df["2ndDigitMean"] = 0 
df["3rdDigitMean"] = 0 
df["4thDigitMean"] = 0

for index, draw_date in enumerate(df.DrawDate.unique()):
    if (index + 1) % 1000 == 0:
        print(f'Processing {index+1}')
    df.loc[df.DrawDate == draw_date, 'TotalMean'] = df[df.DrawDate <= draw_date]['LuckyNo'].mean()
    df.loc[df.DrawDate == draw_date, '1stDigitMean'] = df[df.DrawDate <= draw_date]['1st_digit'].mean()
    df.loc[df.DrawDate == draw_date, '2ndDigitMean'] = df[df.DrawDate <= draw_date]['2nd_digit'].mean()
    df.loc[df.DrawDate == draw_date, '3rdDigitMean'] = df[df.DrawDate <= draw_date]['3rd_digit'].mean()
    df.loc[df.DrawDate == draw_date, '4thDigitMean'] = df[df.DrawDate <= draw_date]['4th_digit'].mean()
    # print(len(df[df.DrawDate <= draw_date]['LuckyNo']))
    # print(draw_date, df[df.DrawDate == draw_date]['LuckyNo'].mean())
    # if (index + 1 % 100 == 0):
        #break
    #print()

Processing 1000
Processing 2000
Processing 3000
Processing 4000

In [26]:
df.tail(26)

        LuckyNo  1st_digit  2nd_digit  ...  2ndDigitMean  3rdDigitMean 4thDigitMean
104647     1144          1          1  ...      4.491037      4.495968     4.472566
104648     7351          7          3  ...      4.491037      4.495968     4.472566
104649     6775          6          7  ...      4.491037      4.495968     4.472566
104650      397          0          3  ...      4.490986      4.495935     4.472577
104651     1232          1          2  ...      4.490986      4.495935     4.472577
104652     1219          1          2  ...      4.490986      4.495935     4.472577
104653     8611          8          6  ...      4.490986      4.495935     4.472577
104654     5031          5          0  ...      4.490986      4.495935     4.472577
104655     4622          4          6  ...      4.490986      4.495935     4.472577
104656      483          0          4  ...      4.490986      4.495935     4.472577
104657     1808          1          8  ...      4.490986      4.495935     4.472577
104658     1132          1          1  ...      4.490986      4.495935     4.472577
104659     3153          3          1  ...      4.490986      4.495935     4.472577
104660     8902          8          9  ...      4.490986      4.495935     4.472577
104661     6788          6          7  ...      4.490986      4.495935     4.472577
104662     3596          3          5  ...      4.490986      4.495935     4.472577
104663     9569          9          5  ...      4.490986      4.495935     4.472577
104664     6223          6          2  ...      4.490986      4.495935     4.472577
104665      791          0          7  ...      4.490986      4.495935     4.472577
104666     1218          1          2  ...      4.490986      4.495935     4.472577
104667     3669          3          6  ...      4.490986      4.495935     4.472577
104668     9517          9          5  ...      4.490986      4.495935     4.472577
104669     1844          1          8  ...      4.490986      4.495935     4.472577
104670     5050          5          0  ...      4.490986      4.495935     4.472577
104671     9073          9          0  ...      4.490986      4.495935     4.472577
104672     2976          2          9  ...      4.490986      4.495935     4.472577

[26 rows x 24 columns]

In [ ]:
df.to_csv("dl-projects/datasets/lotto/data_processed_2.csv", index=False, header=True)

In [30]:
!cd dl-projects && git config --global user.email "mengwangk@gmail.com" && git config --global user.name "mengwangk" && git add -A && git commit -m 'Updated files' && git push

On branch master
Your branch is ahead of 'origin/master' by 1 commit.
  (use "git push" to publish your local commits)

nothing to commit, working tree clean