<a href="https://colab.research.google.com/github/mengwangk/dl-projects/blob/master/number_crunching.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Machine Learning Methods

## Magic

In [2]:
%reload_ext autoreload
%autoreload 2

%matplotlib inline

In [2]:
# To support both python 2 and python 3
from __future__ import division, print_function, unicode_literals

# Common imports
import numpy as np
import os
import pandas as pd
import featuretools as ft
import matplotlib as mpl
import matplotlib.pyplot as plt
from pathlib import Path

In [3]:
# pdb.set_trace

## Setup

In [4]:
# to make this notebook's output stable across runs
np.random.seed(42)

mpl.rc('axes', labelsize=14)
mpl.rc('xtick', labelsize=12)
mpl.rc('ytick', labelsize=12)

# Ignore useless warnings (see SciPy issue #5998)
import warnings
warnings.filterwarnings(action="ignore", message="^internal gelsd")

from IPython.display import display
pd.options.display.max_columns = 50
pd.options.display.html.table_schema = True

## Datasets

In [5]:
DATASET = Path ("./datasets/lotto/data_all.csv")

In [7]:
df = pd.read_csv(DATASET)
df.head(10)

   DrawNo    DrawDate        PrizeType  LuckyNo
0   40792  1992-05-06       1stPrizeNo       19
1   40792  1992-05-06       2ndPrizeNo     1124
2   40792  1992-05-06       3rdPrizeNo      592
3   40792  1992-05-06   ConsolationNo1     5311
4   40792  1992-05-06  ConsolationNo10      407
5   40792  1992-05-06   ConsolationNo2     1949
6   40792  1992-05-06   ConsolationNo3     1606
7   40792  1992-05-06   ConsolationNo4     3775
8   40792  1992-05-06   ConsolationNo5     6226
9   40792  1992-05-06   ConsolationNo6     1271