# FortuneNet

## Setup

In [14]:
# To support both python 2 and python 3
from __future__ import division, print_function, unicode_literals

# Common imports
import numpy as np
import os
import pandas as pd
import featuretools as ft

# to make this notebook's output stable across runs
np.random.seed(42)

# To plot pretty figures
%matplotlib inline
import matplotlib as mpl
import matplotlib.pyplot as plt
mpl.rc('axes', labelsize=14)
mpl.rc('xtick', labelsize=12)
mpl.rc('ytick', labelsize=12)

# Where to save the figures
PROJECT_ROOT_DIR = "."
ID = "fortunenet"
IMAGES_PATH = os.path.join(PROJECT_ROOT_DIR, "images", ID)

def save_fig(fig_id, tight_layout=True, fig_extension="png", resolution=300):
    path = os.path.join(IMAGES_PATH, fig_id + "." + fig_extension)
    print("Saving figure", fig_id)
    if tight_layout:
        plt.tight_layout()
    plt.savefig(path, format=fig_extension, dpi=resolution)

# Ignore useless warnings (see SciPy issue #5998)
import warnings
warnings.filterwarnings(action="ignore", message="^internal gelsd")

## Get the data

In [25]:
import os
import zipfile
from six.moves import urllib

DOWNLOAD_ROOT = "http://www.sportstoto.com.my/"
LOTTO_PATH = os.path.join(os.getcwd(), "datasets", "lotto")
LOTTO_URL = DOWNLOAD_ROOT + "upload/4D.zip"
LOTTO_ZIP = os.path.join(LOTTO_PATH, "4D.zip")

def fetch_data(url=LOTTO_URL, path=LOTTO_PATH, zip_path=LOTTO_ZIP):
    """Fetch the dataset"""
    if not os.path.isdir(path):
        os.makedirs(path)
    urllib.request.urlretrieve(url, zip_path)
    if (os.path.isfile(zip_path)):
        print(f'Download path: {zip_path}')

In [26]:
fetch_data()

Download path: /Users/mengwangk/workspace/development/FortuneNet/datasets/lotto/4D.zip

In [27]:
df = pd.read_csv(LOTTO_ZIP, compression='zip', header=0, sep=',', quotechar='"', dtype=str)

In [28]:
df.tail(10)

ImportError: cannot import name 'NotebookFormatter' from 'pandas.io.formats.html' (/Users/mengwangk/anaconda3/lib/python3.7/site-packages/pandas/io/formats/html.py)

      DrawNo  DrawDate 1stPrizeNo 2ndPrizeNo 3rdPrizeNo SpecialNo1 SpecialNo2  \
4508  491619  20190306       7039       8996       7853       5341       0546
4509  491719  20190309       7720       2038       8239       7797       9811
4510  491819  20190310       7693       5238       3645       6907       0124
4511  491919  20190313       2870       8401       5465       9023       4141
4512  492019  20190316       9273       7179       1964       5753       9241
4513  492119  20190317       6226       2148       3008       4602       9575
4514  492219  20190320       6476       8654       7789       6057       4408
4515  492319  20190323       3305       6381       4292       4193       3994
4516  492419  20190324       1861       0181       4827       5641       5874
4517  492519  20190327       8939       8750       3250       9706       4671

     SpecialNo3 SpecialNo4 SpecialNo5  ... ConsolationNo1 ConsolationNo2  \
4508       5504       5462       2771  ...           8629           8712
4509       0145       9078       7951  ...           4293           1400
4510       2307       0745       5518  ...           7344           3629
4511       5423       2057       1447  ...           3403           4114
4512       9447       0290       1436  ...           1205           4501
4513       7230       7751       8359  ...           2516           1591
4514       9335       3218       2867  ...           2007           2905
4515       3601       8981       8795  ...           5142           6020
4516       9164       6775       0975  ...           8100           0652
4517       5182       5034       4264  ...           5744           4137

     ConsolationNo3 ConsolationNo4 ConsolationNo5 ConsolationNo6  \
4508           8622           7632           2626           6171
4509           9815           1350           1042           4543
4510           5986           0850           3381           2286
4511           5858           7704           6680           1464
4512           6796           5381           2949           8594
4513           7707           2452           2625           1632
4514           5190           0078           7595           5757
4515           6910           4788           6972           5211
4516           0240           2659           8236           8879
4517           5362           9931           4880           1608

     ConsolationNo7 ConsolationNo8 ConsolationNo9 ConsolationNo10
4508           3515           2353           8896            9965
4509           7526           5872           9738            7325
4510           2852           0373           0881            8553
4511           9525           8786           7045            3946
4512           6335           2230           3212            9513
4513           5930           0018           0896            8959
4514           4238           0005           6341            2265
4515           5145           5929           1224            9391
4516           4104           6607           0337            7665
4517           6351           3692           2214            6411

[10 rows x 25 columns]

In [11]:
df.info()
df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1662 entries, 0 to 1661
Data columns (total 9 columns):
DrawNo       1662 non-null object
DrawDate     1662 non-null object
DrawnNo1     1662 non-null object
DrawnNo2     1662 non-null object
 DrawnNo3    1662 non-null object
 DrawnNo4    1662 non-null object
 DrawnNo5    1662 non-null object
 DrawnNo6    1662 non-null object
Jackpot      1662 non-null object
dtypes: object(9)
memory usage: 116.9+ KB

,DrawNo,DrawDate,DrawnNo1,DrawnNo2,DrawnNo3,DrawnNo4,DrawnNo5,DrawnNo6,Jackpot
count,1662,1662,1662,1662,1662,1662,1662,1662,1662
unique,1662,1662,37,43,48,48,41,34,1662
top,370512,20110924,01,11,22,33,46,55,0550751361
freq,1,1,196,90,77,75,83,205,1

## Feature Engineering

In [17]:
df.hist(bins=50, figsize=(20,15))
plt.show()

# data = ft.demo.load_mock_customer()
# print(data)

ValueError: ignored

<a href="http://www.crest.fr/ckfinder/userfiles/files/Pageperso/vcottet/paper%20-%20Deep%20Learning%20predicts%20Loto.pdf">Paper</a>
<br>
<a href="
https://stackoverflow.com/questions/44202627/keras-model-from-nn-schematic">StackOverflow</a>